:root {
    --dark-brown: #4D2C1D;
    --medium-brown: #97704F;
    --light-brown: #DEAF81;
}

body {
    color: var(--dark-brown);
    margin: 0;
    padding: 0;
    height: 100%;
}

/* SPLIT CONTENT INTO TWO HALVES */

#static-content {
    grid-area: static;
    margin-right: 1rem;
    padding: 1rem;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#dynamic-content {
    grid-area: dynamic;
    padding: 1rem;
    margin-left: 1rem;;
    background-color: green;
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "dynamic-header"
        "dynamic-body";
    margin-top: auto;
    margin-bottom: auto;
    overflow: auto;
}

#content {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "static dynamic";
}

.separator-line {
    border-left: 3px solid var(--dark-brown);
    border-radius: 2px;
    height: 75vh;
    position: absolute;
    left: 50%;
    top: 12.5%
}



/* STATIC CONTENT ALGINMENT */

.static-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photo-socials-col {
    align-items: center;
}

#socials-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-header {
    padding-left: 0;
    text-align: left;
}


/* DYNAMIC CONTENT ALIGNMENT */

#dynamic-header {
    grid-area: dynamic-header;
    background-color: yellow;
    text-align: center;
}

#dynamic-body {
    grid-area: dynamic-body;
    background-color: gray;
}



/* STYLE ICONS */

#star-filled {
    color: var(--medium-brown)
}

#linkedIn {
    color: var(--light-brown);
    opacity: 0.4;
}

#linkedIn:hover {
    cursor: pointer;
} 

#github {
    color: var(--light-brown);
    opacity: 0.4;
}

#github:hover {
    cursor: pointer;
}